@import "compass";

/* VARIABLES */
$primary: #e99325;
$text: #696969;
$light: #e2e2e2;
$emphasis: #d94538;

$default-transition-duration: 0.3s;

$container-l: 1170px;
$container-m: 768px;
$container-s: 98%;

$screen-m: 1199px;
$screen-s: 799px;


/* BASE */
@import "base/base";


/* LAYOUT */
@import "layout/container";


/* MODULES */
@import "module/btn";
@import "module/icon";
@import "module/card";
@import "module/table";
@import "module/carousel";
@import "module/progress";
@import "module/separator";
@import "module/header";
@import "module/gallery";
@import "module/section";
@import "module/article";
@import "module/contact";
@import "module/footer";